#container {
    width: 400px;
    height: 300px;
    margin: 50px auto;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slot {
    width: 100px;
    height: 300px;
    border-right: 5px solid black;
    border-left: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .symbols {
    font-size: 100px;
    font-weight: bold;
  }
  
  #spinButton {
    display: block;
    margin: 50px auto;
  }